* {
    margin: 0PX;
    padding: 0PX;
}

/*Menu*/
.logo {
    float: left;
    width: 245px;
    height: 95px;
    padding: 0px;
}

.boton {
    background-color: rgb(166, 158, 55);
    margin-right: 9px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    position: relative;
    right: -453px;
    bottom: -41px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10%;
}

.boton:hover{
    background-color: #8bff51a2;
    color: black;
}

nav {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 8px;
        position: fixed;
        background-color: #e0ffd2;

}
/*Menu*/


/*slider*/
.slider-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 1000%;
	height: 1000%;
	overflow: hidden;
	z-index: -1;
}

.slider-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
	height: 1000%;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

.slider-container img:first-child {
	opacity: 1;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
	height: 1000%;
	background-color: rgba(197, 255, 88, 0.5);
	z-index: 0;
}

@keyframes slide {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.slider-container img:nth-child(1) {
	animation: slide 120s infinite;
}

.slider-container img:nth-child(2) {
	animation: slide 120s infinite 10s;
}

.slider-container img:nth-child(3) {
	animation: slide 120s infinite 20s;
}

.slider-container img:nth-child(4) {
	animation: slide 120s infinite 30s;
}

/*slider*/

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -50px;
}


section{
    background-color: #ffffffe3;
    padding-top: 1px;
    padding-bottom: 450px;
    margin-top: 30px;
    margin-right: 555px;
    margin-left: 50px;
    margin-bottom: 30px;
    position: static;
}



aside{
    background-color:darkkhaki;
    border-style: dashed;
    width: 250px;
    position:relative;
    bottom: 760px;
    left: 930px;
}



footer{
    background-color: #0f92b3d7;
    margin-bottom: -5px;
    padding: 10px;
}
